/* fonte personalizada
  ============================================================================================ */
  @import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap");
 
  /*corpo da pagina*/
  html body {
    background-color: #f5e9e0;
    padding: 0px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }
   
  /* menu (topo da pagina)
          =========================================================================================== */
  .menuzinho {
    background-color: #f5e9e0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  /*borda do menu*/
  nav {
    border-radius: 50px;
    padding: 10px;
  }
   
  /*botao do menu*/
  nav a {
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    cursor: pointer;
    color: #ed896f;
    font-weight: 500;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
  }
   
  /*efeito do botao*/
  nav a::after {
    content: "";
    background: #ed896f;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
  }
   
  nav a:hover {
    color: #f5e9e0;
  }
   
  nav a:hover::after {
    /*fim do efeito*/
    top: 50%;
    opacity: 1;
  }
   
  /*retirar underline do hyperlink*/
  a {
    text-decoration-line: none;
  }
   
  /* fim do menu (topo da pagina)*/
  /* formulario
    ============================================================================================ */
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }
   
  .contact-box {
    border-radius: 20px;
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #eec9a0;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  }
   
  /*lado esquerdo do formulario*/
  .left {
    background: url(../imagens/yummy.png) no-repeat center;
    background-size: cover;
    height: 80%;
  }
   
  /*lado direito do formulario*/
  .right {
    padding: 25px 40px;
  }
   
  /*texto*/
  p {
    text-align: justify;
    font-size: 14px;
    color: #141414;
    font-family: "Poppins", sans-serif;
    padding-right: 5px;
  }
   
  /*titulo*/
  h2 {
    text-align: center;
    font-size: 20px;
    color: #d36847;
    font-family: "Poppins", sans-serif;
    padding-right: 5px;
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
  }
   
  /*campos do formulario*/
  .field {
    width: 100%;
    border: 2px solid #eec9a0;
    outline: none;
    background-color: #ebe1dc;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    resize: none;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
  }
   
  .field:focus {
    border: 2px solid #d36847;
    background-color: #f5e9e0;
  }
   
  /*caixa de mensagem*/
  textarea {
    min-height: 150px;
  }
   
  /*botao submit*/
  .btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #ed896f;
    color: #f5e9e0;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 5%;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
  }
   
  .btn:hover {
    background-color: #ed896f;
    opacity: 30%;
  }
   
  /* fim do formulario
    ============================================================================================ */
  /* footer
    ============================================================================================ */
   
  .footer {
    width: 100%;
    height: 160px;
    margin-top: 10%;
    position: center;
    text-align: center;
    background-color: #141414;
  }
   
  .footer-container {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .contato {
    color: #f5e9e0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 10px 0;
  }
   
  /* flex */
  .flex-container {
    display: inline-flex;
    flex-direction: row;
    margin-top: -30px;
  }
   
  /* fim do flex/footer
    ============================================================================================ */
  /* scrollbar
    ============================================================================================ */
   
  ::-webkit-scrollbar {
    /* width */
    width: 14px;
  }
   
  ::-webkit-scrollbar-track {
    background: #f5e9e0;
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #8c4e40;
    border: 2px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
  }
   
  ::-webkit-scrollbar-thumb:hover {
    background: #d36847;
  }
   
  /* fim da scrollbar
    ============================================================================================ */
  /* media query */
   
  #icone-menu {
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  /*outro dispositivo*/
  @media (max-width: 1140px) {
    #icone-menu {
      display: initial;
      color: #d36847;
    }
    /*menu responsivo*/
    .nav {
      position: absolute;
      top: -400px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      transition: 0.3s;
      background: #3a3938a4;
    }
   
    .nav.active {
      top: 70px;
    }
   
    nav {
      width: 100%;
    }
  }
  /*outro dispositivo*/
  @media (max-width: 720px) {
    .footer {
      width: 100%;
    }
  }
  /*outro dispositivo*/
  @media (max-width: 575px) {
    .footer {
      width: 100%;
    }
  }
  /*outro dispositivo*/
  @media (max-width: 480px) {
    .footer {
      width: 100%px;
      height: 100%;
    }
   
    .contato {
      text-align: left;
      font-size: 13px;
      padding-left: 1rem;
    }
   
    .flex-container {
      padding: auto;
      margin: auto;
    }
   
    /*menu responsivo*/
    nav {
      width: 100%;
      background-color: transparent;
    }
    /*conteudo*/
    .menuzinho {
      width: 100%;
    }
   
    .grid-container {
      grid-template-columns: 1fr;
      text-align: justify;
    }
   
    .container {
      margin-top: 250px;
    }
   
    /*outro dispositivo*/
    @media (max-width: 820px) {
      .grid-container {
        grid-template-columns: 1fr;
        text-align: center;
      }
    }
    .left {
      display: none;
    }
   
    .right {
      width: 100%;
      text-align: justify;
    }
   
    p {
      display: none;
    }
    h1 {
      text-align: center;
      margin: 0;
      margin-left: 15rem;
    }
  }
  