/*fonts*/
@font-face {
  font-family: "Tommy";
  src: url("../fonts/Tommy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

//color palette
$light-mode: #f8ddd6c7;
$main-color: #1e1c1e;
$text-color: #f8eeec;
$title-color: #fa7152;
$subtitle-color: #ec9680;
$details-color: #adcfa5;

//fonts
@mixin text() {
  font-family: "Poppins", sans-serif;
}

@mixin title() {
  font-family: "Mochiy Pop P One", sans-serif;
}

@mixin subtitle() {
  font-family: "Tommy", sans-serif;
}

/*body css*/
body {
  background-color: $light-mode;
  color: $main-color;
  box-sizing: border-box;
  ::selection {
    background-color: $details-color;
  }
}

/*dark mode css*/
.dark-mode {
  width: 5rem;
  height: 3rem;
  border-radius: 0 0 12rem 12rem;
  background-color: $details-color;

  &__text {
    color: $text-color;
    text-align: center;
    font-size: 1.6em;
  }
}

/*header*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.6rem 1.6rem;
  margin: 2rem;
  align-items: center;
  line-height: normal;

  &__img {
    @media (min-width: 1025px) {
      margin-left: 5rem;
      width: 500px;
    }
  }

  &__title {
    @include title();
    color: $title-color;
    font-size: 2em;
    overflow: hidden;
    height: 7vh;
    border-right: 0.1em solid $details-color;
    letter-spacing: 0.3em;

    //animation
    animation: typing 4.5s steps(40, end), blink-caret 0.3s step-end infinite;

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: $details-color;
      }
    }

    @media (min-width: 1025px) {
      font-size: 3em;
    }
  }

  &__text {
    @include text();
    color: $main-color;
    font-size: 1em;
    text-align: justify;
    margin-top: 1rem;
    padding: 2em 2em 5em;
  }

  .text-center {
    @include text();
    color: $details-color;

    span {
      color: $subtitle-color;
    }
  }
}

/*icons*/
.icons {
  padding: 0;
  width: 200px;
  @media (min-width: 1025px) {
    margin-left: 15rem;
    width: 30vw;
    height: 30vw;

    a {
      width: 20rem;
    }
  }
}

/*footer*/
.footer {
  text-align: center;
  @include text();
  font-size: 1em;

  &__link {
    display: inline-block;
    font-size: 1.5em;
    color: $title-color;

    :hover {
      color: $details-color;
    }
  }
}
