/*fonts*/
@font-face {
  font-family: "Tommy";
  src: url("../fonts/Tommy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

//color palette
$light-mode: #f8ddd6c7;
$main-color: #1e1c1e;
$text-color: #f8eeec;
$title-color: #fa7152;
$subtitle-color: #ec9680;
$details-color: #adcfa5;

//fonts
@mixin text() {
  font-family: "Poppins", sans-serif;
}

@mixin title() {
  font-family: "Mochiy Pop P One", sans-serif;
}

@mixin subtitle() {
  font-family: "Tommy", sans-serif;
}

/*body css*/
body {
  background-color: $light-mode;
  color: $main-color;
  box-sizing: border-box;
  ::selection {
    background-color: $details-color;
  }
}

/*dark mode css*/
.dark-mode {
  width: 5rem;
  height: 3rem;
  border-radius: 0 0 12rem 12rem;
  background-color: $details-color;

  &__text {
    color: $text-color;
    text-align: center;
    font-size: 1.6em;
  }
}



/**/
.illustrations {
  @media (min-width: 1025px) {
    width: 30rem;
    margin-left: 45rem;
  }
}

.illustration {
  @include text();
  top: 30px;
  color: $main-color;
  line-height: 4rem;
  gap: 90rem;
  text-align: center;

  a {
    @media (min-width: 1025px) {
      margin-left: 30rem;
    }
  }

  &__img {
    @media (min-width: 1025px) {
      width: 50rem;
      margin-left: 5rem;
    }
  }
}


/*button*/
button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.previous-page {
  width: 90px;
}

/*footer*/
.footer {
  text-align: center;
  @include text();
  font-size: 1em;

  &__link {
    display: inline-block;
    font-size: 1.5em;
    color: $title-color;

    :hover {
      color: $details-color;
    }
  }
}
